<app-header titulo="Card"></app-header>

<ion-content padding>
  <ion-card mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>Modo iOS</ion-card-subtitle>
      <ion-card-title>Card</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Podemos forzar a cualquier componente de Ionic el modo ios o el modo android,
      por ejemplo en este caso con mode="ios" en el ion-card.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="location-outline"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
      perspiciatis sapiente a autem pariatur in iure ullam possimus quos ab id,
      labore, nam voluptas, vitae sint dolorem deserunt adipisci facilis!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae
      perspiciatis sapiente a autem pariatur in iure ullam possimus quos ab id,
      labore, nam voluptas, vitae sint dolorem deserunt adipisci facilis!
    </ion-card-content>
  </ion-card>
</ion-content>
